<!DOCTYPE html>
<html lang="en" data-theme="light" style="scroll-behavior: smooth">
  <!-- head start -->
  <head>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Language" content="en">
    <title><%- title %></title>
    <meta name="description" content="<%- description %>" />
    <meta name="keywords" content="<%- keywords %>" />
    <meta name="author" content="<%- author %>" />
    <meta name="image" content="<%- image %>">

    <meta property="og:title" content="<%- title %>">
<meta property="og:type" content="website">
<meta property="og:image" content="<%- image %>">
<meta property="og:url" content="<%- url %>">
<meta property="og:description"
    content="<%- description %>">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="<%- twitter %>">
<meta name="twitter:creator" content="<%- twitter %>">
<meta name="twitter:description"
    content="<%- description %>">
    <meta name="twitter:image" content="<%- image %>">
    <meta name="theme-color" content="#F00">
    <!-- favicon link -->
    <link rel="shortcut icon" href="./images/logo.svg" type="image/x-icon" />
    <!-- css file -->
    <link rel="stylesheet" href="./src/styles/style.css" />
    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <!-- head end and body start-->
  <body class="font-manrove w-full h-auto">
    <load src="./src/html/header.html" />
    <main class="w-[90%] mx-auto">
        <load src="./src/html/featured.html" />
        <load src="./src/html/portfolio.html" />
        <load src="./src/html/about-us.html" />
        <load src="./src/html/reviews.html" />
        <load src="./src/html/news.html" />
        <load src="./src/html/faq.html" />
    </main>
    <load src="./src/html/footer.html" />
  </body>
</html>
